@model IEnumerable<RentMojoWebApp.Models.Product>

@{
    ViewData["Title"] = "Products Movies";
}


<div class="text-center">
    <h1 class="display-4 heading-font">@ViewData["SubTypeName"] Products</h1>
</div>
<hr />
@if (Model.Count() == 0)
{
    <div>
        <h1 class="display-4 heading-font">No Product For This Section</h1>
    </div>
}
else
{
    <div class="row">
        @foreach (var item in Model)
        { 

            <div class="col-md-4 mb-4">
                <div class="card h-100 border-primary">
                    <img src="~/images/products/@item.ProductID@item.Extension" alt="" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title font1">
                            @Html.DisplayFor(modelItem => item.Name)
                        </h4>
                        <h5>Rent: $ @Html.DisplayFor(modelItem => item.MonthlyRent)</h5>
                    </div>
                    <div class="card-footer">
                        <p>
                            <a class="btn btn-success" asp-action="ViewProductDetails" asp-route-id="@item.ProductID">View Details</a>
                        </p>
                    </div>
                </div>
            </div>

        }
    </div>
}